@page {
	size: A5;
	margin-left: 15pt;
}

html {
	display: table;
	margin: auto;
	font-family: 'Courier New', monospace;
	font-size: 9pt;
}

chord {
	color: #af1919;
	font-size: 9pt;
	font-weight: bold;
}

lab {
	font-weight: bold;
}

h1 {
	margin-top: 40pt;
	margin-bottom: 20pt;
	page-break-before: always;
}

pre {
	font-size: 0.8rem
}

h1:first-of-type {
	margin-top: 0;
}